// Defining parameters
params {

	// Basic options
	data				= ""
	output				= ""
	version				= false
	help				= false
	download			= ""
	type				= ""
	parallel			= 10
	database			= ""
	threads				= 50
	trusted_data			= false

	// [PGGB] buildGraph.nf
	identity			= 95
	segmentLength			= 3000
	nMappings			= 1
	threads_pggb			= 20
	poaLength			= "700,900,1100"
	poaParams			= "asm5"
	minMatchLen			= 47

	// [cd-hit-est] geneClustering.nf
	geneClusterThreshold		= 0.95

	// [vg annotate] annotateGraph.nf
	threads_annotate		= 1

	// [vg mod] annotateGraph.nf
	chop				= 200

	// [vg autoindex] mapping.nf
	threads_autoindex		= 20

	// [vg minimizer] mapping.nf
	kmer				= 15
	window				= 5
	threads_minimizer		= 20

	// [vg giraffe] mapping.nf
	threads_giraffe			= 10
	hard_hit_cap			= 700
	mapping_quality			= 34
}	


// Global thread cap
executor {
	name = 'local'
	cpus = params.threads ?: 50
}

// Make scripts usable
process {
    beforeScript = "chmod ugo+rwx ${projectDir}/bin/*"
}

// Defining standard resources

process {
  withLabel: demand_1 {
    cpus = 1
    memory = '10 GB'
  }
}

process {
  withLabel: demand_2 {
    cpus = 2
    memory = '10 GB'
  }
}

process {
  withLabel: demand_3 {
    cpus = 5
    memory = '50 GB'
  }
}

process {
  withLabel: demand_4 {
    cpus = 10
    memory = '100 GB'
  }
}

process {
  withLabel: demand_5 {
    cpus = 20
    memory = '200 GB'
  }
}

// Defining specific configs

conda.enabled = true
conda.useMamba = false


conda.enabled = true

process {
    withName: 'entrez' {
        conda = "${projectDir}/envs/entrez.yaml"
    }
}

process {
    withName: 'fastaDatabase' {
        conda = "${projectDir}/envs/biopython.yaml"
    }
}


process {
	withName: 'clustering' {
		conda = "${projectDir}/envs/cdhit.yaml"
	}
}

process {
        withName: 'prokkaMakeAnnotations' {
                conda = "${projectDir}/envs/prokka.yaml"        
        }
}


process {
        withName: 'makePangenome' {
                conda = "${projectDir}/envs/panaroo.yaml"        
        }
}


process {
	withName: 'formattingPangenome' {
		conda = "${projectDir}/envs/formattingPangenome.yaml"
	}
}

process {
	withName: 'alignment' {
		conda = "${projectDir}/envs/alignment.yaml"
	}
}

process {
        withName: 'alignmentSummary' {
                conda = "${projectDir}/envs/alignment.yaml"
        }
}
process {
        withName: 'plotCoveragevsCompleteness' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'makeMatrix' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'buildHeatmap' {
                conda = "${projectDir}/envs/heatmap.yaml"
        }
}


process {
	withName: 'pMauve' {
		conda = "${projectDir}/envs/pMauve.yaml"
	}
}

process {
        withName: 'gatkConsensus' {
                conda = "${projectDir}/envs/gatk.yaml"
        }
}

