// Defining parameters
params {

	// Basic options
	data				= ""
	output				= ""
	version				= false
	help				= false
	gene_completeness		= 50
	upper_coverage_bound		= 3
	lower_coverage_bound		= 0.5
	tax_id				= ""
	outgroup_tax_id			= ""
	genomes				= 10
	config				= ""
	parallel			= 10
	trusted_data			= false

	// get_data.nf [single core]
	get_data_parallel		= 30

	// remove_redundancy.nf	[single core]
	remove_redundancy_parallel	= 30

	// [cd-hit] gene_clustering.nf
	gene_identity_clustering	= 0.95
	cd_hit_threads			= 30

	// [prokka] [multi core] annotate.nf
	prokka_annotate_parallel	= 6
	prokka_annotate_threads		= 5

	// [panaroo] make_pangenome.nf
	pangenome_identity_threshold	= 0.95
	panaroo_pangenome_mode		= "strict"
	panaroo_pangenome_threads	= 30

	// [bwa , samtools] outgroup_alignment.nf
	outgroup_alignment_threads	= 30
	
	// [bwa, samtools] [multi core] alignment.nf
	alignment_threads		= 10
	missing_prob			= 0.01
	gap_fraction			= 2
	seed				= 16500
	min_read_length			= 34
	mapping_quality			= 30
	max_read_length			= 300
	alignment_parallel		= 3

	// [bcftools/gatk] 
	genotyper			= "bcftools"

	// filter_gene_alignments.nf [single core]
	filter_gene_alignments_parallel	= 30

	// [iq-tree] tree_{}.nf
	tree_threads			= 30
}	


// Make scripts usable
process {
    beforeScript = "chmod ugo+rwx ${projectDir}/bin/*"
}

// Defining standard resources

process {
  withLabel: demand_1 {
    cpus = 1
    memory = '10 GB'
  }
}

process {
  withLabel: demand_2 {
    cpus = 2
    memory = '10 GB'
  }
}

process {
  withLabel: demand_3 {
    cpus = 5
    memory = '50 GB'
  }
}

process {
  withLabel: demand_4 {
    cpus = 10
    memory = '100 GB'
  }
}

process {
  withLabel: demand_5 {
    cpus = 20
    memory = '200 GB'
  }
}

// Defining specific configs

conda.enabled = true
conda.useMamba = false

process {
    withName: 'GET_DATA' {
        conda = "${projectDir}/envs/get_data.yaml"
    }
}

process {
    withName: 'fastaDatabase' {
        conda = "${projectDir}/envs/biopython.yaml"
    }
}


process {
	withName: 'clustering' {
		conda = "${projectDir}/envs/cdhit.yaml"
	}
}

process {
        withName: 'prokkaMakeAnnotations' {
                conda = "${projectDir}/envs/prokka.yaml"        
        }
}


process {
        withName: 'makePangenome' {
                conda = "${projectDir}/envs/panaroo.yaml"        
        }
}


process {
	withName: 'formattingPangenome' {
		conda = "${projectDir}/envs/formattingPangenome.yaml"
	}
}

process {
	withName: 'alignment' {
		conda = "${projectDir}/envs/alignment.yaml"
	}
}

process {
        withName: 'alignmentSummary' {
                conda = "${projectDir}/envs/alignment.yaml"
        }
}
process {
        withName: 'plotCoveragevsCompleteness' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'makeMatrix' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'buildHeatmap' {
                conda = "${projectDir}/envs/heatmap.yaml"
        }
}


process {
	withName: 'pMauve' {
		conda = "${projectDir}/envs/pMauve.yaml"
	}
}

process {
        withName: 'gatkConsensus' {
                conda = "${projectDir}/envs/gatk.yaml"
        }
}

