// Defining parameters
params {

	// Basic options
	data				= ""
	output				= ""
	version				= false
	help				= false
	completeness			= 50
	upper_coverage_bound		= 3
	lower_coverage_bound		= 0.5
	tax_id				= ""
	outgroup_tax_id			= ""
	genomes				= 10
	config				= ""
	parallel			= 10
	trusted_data			= false

	// get_data.nf [single core]
	get_data_parallel		= 30

	// remove_redundancy.nf	[single core]
	remove_redundancy_parallel	= 30

	// [cd-hit] .nf
	clustering			= 0.95

	// [panaroo] .nf
	core_threshold			= 0.95
	pangenome_mode			= "strict"
	
	// [samtools] .nf
	missing_prob			= 0.01
	gap_fraction			= 2
	seed				= 16500
	min_read_length			= 34
	mapping_quality			= 30
	max_read_length			= 300

	// [bcftools/gatk] .nf
	genotyper			= "bcftools"


}	


// Global thread cap
executor {
	name = 'local'
	cpus = params.threads ?: 30
}

// Make scripts usable
process {
    beforeScript = "chmod ugo+rwx ${projectDir}/bin/*"
}

// Defining standard resources

process {
  withLabel: demand_1 {
    cpus = 1
    memory = '10 GB'
  }
}

process {
  withLabel: demand_2 {
    cpus = 2
    memory = '10 GB'
  }
}

process {
  withLabel: demand_3 {
    cpus = 5
    memory = '50 GB'
  }
}

process {
  withLabel: demand_4 {
    cpus = 10
    memory = '100 GB'
  }
}

process {
  withLabel: demand_5 {
    cpus = 20
    memory = '200 GB'
  }
}

// Defining specific configs

conda.enabled = true
conda.useMamba = false

process {
    withName: 'entrez' {
        conda = "${projectDir}/envs/entrez.yaml"
    }
}

process {
    withName: 'fastaDatabase' {
        conda = "${projectDir}/envs/biopython.yaml"
    }
}


process {
	withName: 'clustering' {
		conda = "${projectDir}/envs/cdhit.yaml"
	}
}

process {
        withName: 'prokkaMakeAnnotations' {
                conda = "${projectDir}/envs/prokka.yaml"        
        }
}


process {
        withName: 'makePangenome' {
                conda = "${projectDir}/envs/panaroo.yaml"        
        }
}


process {
	withName: 'formattingPangenome' {
		conda = "${projectDir}/envs/formattingPangenome.yaml"
	}
}

process {
	withName: 'alignment' {
		conda = "${projectDir}/envs/alignment.yaml"
	}
}

process {
        withName: 'alignmentSummary' {
                conda = "${projectDir}/envs/alignment.yaml"
        }
}
process {
        withName: 'plotCoveragevsCompleteness' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'makeMatrix' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'buildHeatmap' {
                conda = "${projectDir}/envs/heatmap.yaml"
        }
}


process {
	withName: 'pMauve' {
		conda = "${projectDir}/envs/pMauve.yaml"
	}
}

process {
        withName: 'gatkConsensus' {
                conda = "${projectDir}/envs/gatk.yaml"
        }
}

